body {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}
div{
  align: center;
  margin-top: 3%;
}
span{
  color: #d5d500;;
  text-decoration: underline dotted #aaaa00;
  }
a{
  color: #ffffaa;
  text-decoration: none;
}
a:hover {
  font-size: larger;
  text-decoration: underline dotted #aaaa00;
}
a:visited {
  color: #d5d500;
  text-decoration: none;
}
#title {
  color: #ffff80;
  white-space: pre;
  letter-spacing: 0.25rem;
  line-height: 0.5;
  margin-left: 0;/*左*/
  margin-top: 0;/*上*/
  margin-right: 0;/*右*/
  margin-bottom: 0;/*下*/
}
